Repository derui/simple-planning-poker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: pnpm exec prettier
      language: system
      files: "\\.tsx?$"
      args: ["-w"]
    - id: eslint
      name: eslint
      entry: pnpm exec eslint
      language: system
      files: "\\.[tj]sx?$"
      args: ["--fix", "-c", "configs/eslint-config/eslint.config.js"]

feat: move skeleton to UI
  packages/ui/skeleton/.storybook/main.ts
  packages/ui/skeleton/.storybook/preview.ts
  packages/ui/skeleton/eslint.config.js
  packages/ui/skeleton/package.json
  packages/ui/skeleton/src/index.ts
  packages/ui/skeleton/src/skeleton.stories.tsx
  packages/ui/skeleton/src/skeleton.test.tsx
  packages/ui/skeleton/src/skeleton.tsx
  packages/ui/skeleton/src/style.css
  packages/ui/skeleton/tailwind.config.js
  packages/ui/skeleton/tsconfig.json
  packages/ui/skeleton/vite.config.js
  packages/ui/skeleton/vitest.config.js
  pnpm-lock.yaml
  src/components/presentations/skeleton.test.tsx
  src/components/presentations/skeleton.tsx
Due: prettier, eslint

feat: move toggle button to dedicated package
  packages/ui/toggle-button/.storybook/main.ts
  packages/ui/toggle-button/.storybook/preview.ts
  packages/ui/toggle-button/eslint.config.js
  packages/ui/toggle-button/package.json
  packages/ui/toggle-button/src/index.ts
  packages/ui/toggle-button/src/style.css
  packages/ui/toggle-button/src/toggle-button.stories.tsx
  packages/ui/toggle-button/src/toggle-button.test.tsx
  packages/ui/toggle-button/src/toggle-button.tsx
  packages/ui/toggle-button/tailwind.config.js
  packages/ui/toggle-button/tsconfig.json
  packages/ui/toggle-button/vite.config.js
  packages/ui/toggle-button/vitest.config.js
  pnpm-lock.yaml
Due: prettier, eslint

chore: restore application package.json
  app/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: delete hygen's template
  _templates/component/new/index.ejs.t
  _templates/component/new/prompt.cjs
  _templates/component/new/test.ejs.t
  _templates/epic/new/index.ejs.t
  _templates/epic/new/inject_import.ejs.t
  _templates/epic/new/inject_store.ejs.t
  _templates/epic/new/prompt.cjs
  _templates/epic/new/test.ejs.t
  _templates/generator/help/index.ejs.t
  _templates/generator/new/hello.ejs.t
  _templates/generator/with-prompt/hello.ejs.t
  _templates/generator/with-prompt/prompt.ejs.t
  _templates/init/repo/new-repo.ejs.t
  _templates/selector/new/index.ejs.t
  _templates/selector/new/test.ejs.t
  _templates/slice/new/index.ejs.t
  _templates/slice/new/inject_import.ejs.t
  _templates/slice/new/inject_store.ejs.t
  _templates/slice/new/prompt.cjs
  _templates/slice/new/test.ejs.t
  app/package.json
  pnpm-lock.yaml
Due: none

chore: add packages splited
  app/package.json
  pnpm-lock.yaml
Due: none

chore: manage package versions
  app/package.json
  app/tailwind.config.js
  pnpm-lock.yaml
Due: eslint

chore: align style of script
  app/package.json
Due: none

fix: align latest eslint configuration
  .eslintrc.cjs
  app/eslint.config.js
  eslint.config.js
Due: eslint

chore: remove twind's configuration
  app/.storybook/preview.ts
  app/package.json
  app/src/index.tsx
  app/src/twind.config.cjs
Due: prettier, eslint

feat: add some templates
  .pre-commit-config.yaml
  features/login/.storybook/main.ts
  features/login/.storybook/preview.ts
  features/login/eslint.config.js
  features/login/package.json
  features/login/src/index.ts
  features/login/src/style.css
  features/login/tailwind.config.js
  features/login/tsconfig.json
  features/login/vite.config.js
  features/login/vitest.config.js
  package.json
  plop-templates/common/eslint.config.js.hbs
  plop-templates/common/storybook/main.ts.hbs
  plop-templates/common/storybook/preview.ts.hbs
  plop-templates/common/style.css.hbs
  plop-templates/common/tailwind.config.js.hbs
  plop-templates/common/tsconfig.json.hbs
  plop-templates/common/vite.config.js.hbs
  plop-templates/common/vitest.config.js.hbs
  plop-templates/feature/atom/atom.ts.hbs
  plop-templates/feature/index.ts.hbs
  plop-templates/feature/package.json.hbs
  plopfile.js
  pnpm-workspace.yaml
Due: prettier, eslint

feat: add first atom
  features/login/package.json
  features/login/src/atoms/atom.ts
  plop-templates/feature/atom/atom.ts.hbs
  plopfile.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

feat: add templates for shared logic
  packages/ui/login/eslint.config.js
  packages/ui/login/package.json
  packages/ui/login/src/index.ts
  packages/ui/login/tsconfig.json
  packages/ui/login/vite.config.js
  packages/ui/login/vitest.config.js
  plop-templates/common/vite-non-react.config.js.hbs
  plop-templates/common/vitest-non-react.config.js.hbs
  plop-templates/package/shared-logic/index.ts.hbs
  plop-templates/package/shared-logic/package.json.hbs
  plop-templates/package/ui/component.hbs
  plop-templates/package/ui/component.stories.hbs
  plop-templates/package/ui/component.test.hbs
  plop-templates/package/ui/index.hbs
  plop-templates/package/ui/package.json.hbs
  plopfile.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, eslint

[wip] migrating login
  features/login/package.json
  features/login/src/atoms/atom.ts
  features/login/src/containers/login-page.stories.tsx
  features/login/src/containers/login-page.test.tsx
  features/login/src/containers/login-page.tsx
  features/login/src/infrastructures/authenticator.ts
Due: prettier, eslint

fix: directory of template output
  plopfile.js
Due: eslint

chore: integrate sinon to catalog
  app/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: use pre-compied package pattern
  packages/ui/icon/package.json
  packages/ui/loader/package.json
  packages/ui/login/eslint.config.js
  packages/ui/login/package.json
  packages/ui/login/src/index.ts
  packages/ui/login/tsconfig.json
  packages/ui/login/vite.config.js
  packages/ui/login/vitest.config.js
  packages/ui/overlay/package.json
  packages/ui/radio-button/package.json
  packages/ui/radio-group/package.json
  packages/ui/skeleton/package.json
  packages/ui/toggle-button/package.json
  plop-templates/common/tsconfig.json.hbs
  plop-templates/package/shared-logic/package.json.hbs
  plop-templates/package/ui/package.json.hbs
Due: prettier, eslint

feat: add turbo
  .gitignore
  package.json
  packages/ui/icon/package.json
  packages/ui/loader/package.json
  packages/ui/overlay/package.json
  packages/ui/radio-button/package.json
  packages/ui/radio-group/package.json
  packages/ui/skeleton/package.json
  packages/ui/skeleton/src/skeleton.tsx
  packages/ui/toggle-button/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier, eslint

fix: use pascal case
  packages/ui/overlay/src/index.ts
  plop-templates/package/ui/index.hbs
Due: prettier, eslint

fix: typo
  packages/ui/icon/package.json
  packages/ui/loader/package.json
  packages/ui/overlay/package.json
  packages/ui/radio-button/package.json
  packages/ui/radio-group/package.json
  packages/ui/skeleton/package.json
  packages/ui/toggle-button/package.json
  packages/ui/toggle-button/src/index.ts
  packages/ui/toggle-button/src/toggle-button.stories.tsx
  packages/ui/toggle-button/src/toggle-button.tsx
  plop-templates/package/ui/package.json.hbs
  pnpm-lock.yaml
Due: prettier, eslint

fix: template for shared logic
  plop-templates/package/shared-logic/package.json.hbs
Due: none

feat: add domain package
  packages/shared-logic/domain/eslint.config.js
  packages/shared-logic/domain/package.json
  packages/shared-logic/domain/src/base.test.ts
  packages/shared-logic/domain/src/base.ts
  packages/shared-logic/domain/src/card.test.ts
  packages/shared-logic/domain/src/card.ts
  packages/shared-logic/domain/src/event.ts
  packages/shared-logic/domain/src/game-player.test.ts
  packages/shared-logic/domain/src/game-player.ts
  packages/shared-logic/domain/src/game-repository.ts
  packages/shared-logic/domain/src/game.test.ts
  packages/shared-logic/domain/src/game.ts
  packages/shared-logic/domain/src/index.ts
  packages/shared-logic/domain/src/invitation.test.ts
  packages/shared-logic/domain/src/invitation.ts
  packages/shared-logic/domain/src/round-repository.ts
  packages/shared-logic/domain/src/round.test.ts
  packages/shared-logic/domain/src/round.ts
  packages/shared-logic/domain/src/selectable-cards.test.ts
  packages/shared-logic/domain/src/selectable-cards.ts
  packages/shared-logic/domain/src/story-point.test.ts
  packages/shared-logic/domain/src/story-point.ts
  packages/shared-logic/domain/src/type.ts
  packages/shared-logic/domain/src/user-estimation.test.ts
  packages/shared-logic/domain/src/user-estimation.ts
  packages/shared-logic/domain/src/user-repository.ts
  packages/shared-logic/domain/src/user.test.ts
  packages/shared-logic/domain/src/user.ts
  packages/shared-logic/domain/tsconfig.json
  packages/shared-logic/domain/vite.config.js
  packages/shared-logic/domain/vitest.config.js
  pnpm-lock.yaml
Due: prettier, eslint

fix: do not error unused vars
  configs/eslint-config/eslint.config.js
Due: eslint

fix: do not report from eslint's default no-unused-vars rule
  configs/eslint-config/eslint.config.js
Due: eslint

fix: remove deprecated file
  .eslintignore
  configs/eslint-config/eslint.config.js
Due: eslint

refactor: apply some fixes
  packages/shared-logic/domain/src/card.ts
  packages/shared-logic/domain/src/game-repository.ts
  packages/shared-logic/domain/src/game.ts
  packages/shared-logic/domain/src/user.test.ts
  packages/shared-logic/domain/src/user.ts
Due: prettier, eslint

fix: some type changes
  packages/shared-logic/domain/src/base.ts
  packages/shared-logic/domain/src/card.ts
  packages/shared-logic/domain/src/event.ts
  packages/shared-logic/domain/src/game.ts
  packages/shared-logic/domain/src/index.ts
Due: prettier, eslint

fix: remove duplicated key
  plop-templates/package/shared-logic/package.json.hbs
Due: none

feat: add package for array utility
  packages/shared-logic/array/eslint.config.js
  packages/shared-logic/array/package.json
  packages/shared-logic/array/src/index.test.ts
  packages/shared-logic/array/src/index.ts
  packages/shared-logic/array/tsconfig.json
  packages/shared-logic/array/vite.config.js
  packages/shared-logic/array/vitest.config.js
  pnpm-lock.yaml
Due: prettier, eslint

chore: apply fixes for package json
  plop-templates/feature/package.json.hbs
  plop-templates/package/shared-logic/package.json.hbs
  plop-templates/package/ui/package.json.hbs
Due: none

fix: path specifier in tsconfig.json
  plop-templates/common/tsconfig.json.hbs
Due: none

fix: apply nodenext configuration to use other package
  configs/typescript-config/base.json
  packages/shared-logic/array/package.json
  packages/shared-logic/array/src/index.test.ts
  packages/shared-logic/array/tsconfig.json
  packages/shared-logic/domain/package.json
  packages/shared-logic/domain/src/base.test.ts
  packages/shared-logic/domain/src/card.test.ts
  packages/shared-logic/domain/src/card.ts
  packages/shared-logic/domain/src/game-player.test.ts
  packages/shared-logic/domain/src/game-player.ts
  packages/shared-logic/domain/src/game-repository.ts
  packages/shared-logic/domain/src/game.test.ts
  packages/shared-logic/domain/src/game.ts
  packages/shared-logic/domain/src/index.ts
  packages/shared-logic/domain/src/invitation.test.ts
  packages/shared-logic/domain/src/invitation.ts
  packages/shared-logic/domain/src/round-repository.ts
  packages/shared-logic/domain/src/round.test.ts
  packages/shared-logic/domain/src/round.ts
  packages/shared-logic/domain/src/selectable-cards.test.ts
  packages/shared-logic/domain/src/selectable-cards.ts
  packages/shared-logic/domain/src/story-point.test.ts
  packages/shared-logic/domain/src/story-point.ts
  packages/shared-logic/domain/src/user-estimation.test.ts
  packages/shared-logic/domain/src/user-estimation.ts
  packages/shared-logic/domain/src/user-repository.ts
  packages/shared-logic/domain/src/user.test.ts
  packages/shared-logic/domain/src/user.ts
  pnpm-lock.yaml
Due: prettier, eslint

chore: apply valid exports style
  plop-templates/feature/package.json.hbs
  plop-templates/package/shared-logic/package.json.hbs
  plop-templates/package/ui/package.json.hbs
Due: none

fix: apply nodenext and storybook's assets directory
  app/.storybook/main.ts
  features/login/.storybook/main.ts
  packages/ui/icon/.storybook/main.ts
  packages/ui/icon/package.json
  packages/ui/icon/src/icon.stories.tsx
  packages/ui/icon/src/icon.test.tsx
  packages/ui/icon/src/icon.tsx
  packages/ui/icon/src/index.ts
  packages/ui/loader/.storybook/main.ts
  packages/ui/loader/package.json
  packages/ui/loader/src/index.ts
  packages/ui/loader/src/loader.stories.tsx
  packages/ui/loader/src/loader.test.tsx
  packages/ui/overlay/.storybook/main.ts
  packages/ui/overlay/package.json
  packages/ui/overlay/src/index.ts
  packages/ui/overlay/src/overlay.stories.tsx
  packages/ui/overlay/src/overlay.test.tsx
  packages/ui/radio-button/.storybook/main.ts
  packages/ui/radio-button/package.json
  packages/ui/radio-button/src/index.ts
  packages/ui/radio-button/src/radio-button.stories.tsx
  packages/ui/radio-button/src/radio-button.test.tsx
  packages/ui/radio-group/.storybook/main.ts
  packages/ui/radio-group/package.json
  packages/ui/radio-group/src/index.ts
  packages/ui/radio-group/src/radio-group.stories.tsx
  packages/ui/radio-group/src/radio-group.test.tsx
  packages/ui/skeleton/.storybook/main.ts
  packages/ui/skeleton/package.json
  packages/ui/skeleton/src/index.ts
  packages/ui/skeleton/src/skeleton.stories.tsx
  packages/ui/skeleton/src/skeleton.test.tsx
  packages/ui/toggle-button/.storybook/main.ts
  packages/ui/toggle-button/package.json
  packages/ui/toggle-button/src/index.ts
  packages/ui/toggle-button/src/toggle-button.stories.tsx
  packages/ui/toggle-button/src/toggle-button.test.tsx
  plop-templates/common/storybook/main.ts.hbs
Due: prettier, eslint

fix: add package to build storybook
  packages/ui/icon/package.json
  packages/ui/loader/package.json
  packages/ui/overlay/package.json
  packages/ui/radio-button/package.json
  packages/ui/radio-group/package.json
  packages/ui/skeleton/package.json
  packages/ui/toggle-button/package.json
  plop-templates/package/shared-logic/package.json.hbs
  plop-templates/package/ui/package.json.hbs
  pnpm-lock.yaml
Due: none

fix: add package to template for building storybook
  plop-templates/package/ui/package.json.hbs
Due: none

fix: type of story
  packages/ui/radio-group/src/radio-group.stories.tsx
Due: prettier, eslint

chore: ignore static storybook
  .gitignore
Due: none

feat: refactor domains
  packages/shared-logic/domain/src/applicable-points.test.ts
  packages/shared-logic/domain/src/applicable-points.ts
  packages/shared-logic/domain/src/card.test.ts
  packages/shared-logic/domain/src/card.ts
  packages/shared-logic/domain/src/game.test.ts
  packages/shared-logic/domain/src/round.test.ts
  packages/shared-logic/domain/src/round.ts
  packages/shared-logic/domain/src/selectable-cards.test.ts
  packages/shared-logic/domain/src/selectable-cards.ts
  packages/shared-logic/domain/src/user-estimation.test.ts
  packages/shared-logic/domain/src/user-estimation.ts
Due: prettier, eslint
